<div class="container">
  <div class="article-new-edit">
    <h1>مقاله جدید</h1>

    <%= render "form", article: @article %>

    <br>

    <div>
      <%= link_to "Back to articles", articles_path %>
    </div>
  </div>
</div>
