<div class="header-news">
  <div class="col-12">

    <%= link_to cl_image_tag(@headern.photo.key, crop: :fill, alt: "#{@kholase}"), article_path(@headern) %>
  </div>
  <div class="header-news-text">
    <p><%= @headern.title %></p>
  </div>
  <div class="header-news-kholase">
    <p><%= @kholase %> <%= link_to "ادامه", article_path(@headern) %></p>
  </div>
</div>
