<div class="header-news">
  <div class="col-12">

    <%= image_tag("articles/africa-2-1238855.jpeg", alt: "Edit Entry") %>
  </div>
  <div class="header-news-text">
  <p>رئیس جمهور روسیه از پالایشگاه آبادان دیدن کرد</p>
  </div>
</div>
