<div class="pishkhan">
 <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3">
    <% count = 1 %>
    <% @pishkhan.each do |item| %>
      <div class="col">
        <div class="pishkhan-item border border-secondary"><%= image_tag("articles/africa-2-1238855.jpeg", alt: item.title) %></div>
        <div class="pishkhan-item-text"><%= item.title %></div>
      </div>
      <% count += 1 %>
    <% end %>
  </div>
</div>
