<div class="pishkhan">
 <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3">
    <div class="col">
      <div class="pishkhan-item"><%= image_tag("articles/africa-2-1238855.jpeg", alt: "Edit Entry") %></div>
      <div class="pishkhan-item-text">تأکید رئیس مجمع کارگران اخراجی و بی‌کار بر تداوم بازداشت‌ها</div>
    </div>
    <div class="col">
      <div class="pishkhan-item"><%= image_tag("articles/africa-2-1238855.jpeg", alt: "Edit Entry") %></div>
      <div class="pishkhan-item-text">تأکید رئیس مجمع کارگران اخراجی و بی‌کار بر تداوم بازداشت‌ها</div>
    </div>
    <div class="col">
      <div class="pishkhan-item"><%= image_tag("articles/africa-2-1238855.jpeg", alt: "Edit Entry") %></div>
      <div class="pishkhan-item-text">تأکید رئیس مجمع کارگران اخراجی و بی‌کار بر تداوم بازداشت‌ها</div>
    </div>
    <div class="col">
      <div class="pishkhan-item"><%= image_tag("articles/africa-2-1238855.jpeg", alt: "Edit Entry") %></div>
      <div class="pishkhan-item-text">تأکید رئیس مجمع کارگران اخراجی و بی‌کار بر تداوم بازداشت‌ها</div>
    </div>
  </div>


</div>
