<div class="section">
<% count = 1 %>
<% @categories.each_with_index do |category, index| %>
  <% @akhbarebakhsh = @akhbar.where(category_id: index+1) %>
  <% while count <=5 do %>
    <% @akhbarebakhsh.each do |khabar| %>
      <div class="section-item">
        <%= khabar.title %>
        <% count += 1 %>
    <% end %>
      </div>
  <% end %>
<% end %>
  <div class="section-item">
    <%= link_to "بیشتر", "/articles?q=all"%>
  </div>
</div>
