<div class="section">
  <div class="section-title">فیزیک</div>
    <div class="section-item">
        بعدشم همه رفتن خونه قیمت برق روستاهای نائین ۴۰ یورو گران شد
    </div>

    <div class="section-item">
        قیمت برق روستاهای نائین ۴۰ یورو گران شد
    </div>

    <div class="section-item">
        قیمت برق روستاهای نائین ۴۰ یورو گران شد
    </div>

    <div class="section-item">
        قیمت برق روستاهای نائین ۴۰ یورو گران شد
    </div>

    <div class="section-item">
        قیمت برق روستاهای نائین ۴۰ یورو گران شد
    </div>

    <div class="section-item">
      <%= link_to "بیشتر", "/articles?q=all"%>
    </div>

</div>
