.header-news {
  img {
  // background-size: cover;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.20);
  }
}

.header-news-text {
  width: 98%;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans Arabic;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px;
  padding-bottom: 0;
    p {
  margin-bottom: 0rem !important;
  }
}

.header-news-kholase {
  font-size: 13px;
  padding: 8px;
}

// @media screen and (min-width: 480px) {
//   .header-news {
//       img {
//       width: 511px;
//       height: 338.773px;
//       flex-shrink: 0;
//       border-radius: 6px;
//       box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.20);
//       }}
//   .header-news-text {

//     font-size: 24px;
//     font-style: normal;
//   }
// }
