.section {
  margin: 10px;
  // width: 70%;
}

.section-item {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-title {
  font-size: 13px;
  font-weight: 900;
  padding-bottom: 7px;
  margin-top: 7px;
}
